<h1>DummyRails7Testing#index</h1>
<p>Find me in app/views/dummy_rails7_testing/index.html.erb</p>
<h2>You should see hello world below</h2>
  <div data-controller="hello">
  </div>
  <p>If you see "Hello World!" above, Stimulus.js is working. </p>